/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind preflight;
@import url("/count/35a276");
@font-face {
  font-family: 'GillSansNova';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/35A276_0_0.eot');
  src: url('/fonts/35A276_0_0.eot?#iefix') format('embedded-opentype'),
  url('/fonts/35A276_0_0.woff2') format('woff2'),
  url('/fonts/35A276_0_0.woff') format('woff'),
  url('/fonts/35A276_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'GillSansNova';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/35A276_1_0.eot');
  src: url('/fonts/35A276_1_0.eot?#iefix') format('embedded-opentype'),
  url('/fonts/35A276_1_0.woff2') format('woff2'),
  url('/fonts/35A276_1_0.woff') format('woff'),
  url('/fonts/35A276_1_0.ttf') format('truetype');
}
@font-face {
  font-family: 'JoannaNova';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/35A276_2_0.eot');
  src: url('/fonts/35A276_2_0.eot?#iefix') format('embedded-opentype'),
  url('/fonts/35A276_2_0.woff2') format('woff2'),
  url('/fonts/35A276_2_0.woff') format('woff'),
  url('/fonts/35A276_2_0.ttf') format('truetype');
}
@font-face {
  font-family: 'JoannaNova';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/35A276_3_0.eot');
  src: url('/fonts/35A276_3_0.eot?#iefix') format('embedded-opentype'),
  url('/fonts/35A276_3_0.woff2') format('woff2'),
  url('/fonts/35A276_3_0.woff') format('woff'),
  url('/fonts/35A276_3_0.ttf') format('truetype');
}
.size-small {
    @apply .text-small .leading-small;
}
.size-text {
    @apply .text-text .leading-text;
}
.size-lg {
    @apply .text-lg .leading-lg;
}
.size-xl {
    @apply .text-xl .leading-text;
}
.size-xxl {
    @apply .text-xxl .leading-xxl;
}
.caps {
  @apply .uppercase .tracking-wide;
}

.overlay-red {
  @apply .bg-red;
   opacity: 0.5;
}
.title {
  @apply .caps .size-lg .font-regular;
}
.maintext {
  @apply .font-serif .size-xl .italic;
}
.big-title {
  @apply .font-sans .size-xl .font-medium;
}
.label {
    @apply .size-small .font-sans .font-medium .caps;
}
.date {
  @apply .label .text-blue;
}
.btn {
  @apply .label .text-blue .transit .w-c2 .border-b .border-grey .text-grey .whitespace-no-wrap;
}
.btn:hover {
  @apply .text-red .border-red;
}
.iconbox {
  @apply .flex .justify-center .items-center;
  width:21px;
  height:21px;
}
a {
  @apply .text-black .transit;
}
a:hover {
  @apply .text-red;
}
.big-border {
  @apply .border-red .border-t-2 .border-dotted;
}
::-moz-selection {
  @apply .text-white .bg-red;
 }
::selection {
  @apply .text-white .bg-red;
 }

.wrapper {
  @apply .w-full .px-x-half .mx-auto;
}
@screen sm {
  .wrapper {
    width: 476px;
  }
}
@screen md {
  .wrapper {
    width: 700px;
  }
}
@screen lg {
  .wrapper {
    width: 1036px;
  }
}
@screen xl {
  .wrapper {
    width: 1372px;
  }
}
.content > * {
  @apply .block .max-w-c6 .mx-auto .px-x-half .mb-y-2third
}

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-utilities.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */

ul, li {
    list-style: none;
    padding:0;
}
a {
    text-decoration: none;
}


@tailwind utilities;


.transit, .card {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
svg {
  fill: currentColor;
  vertical-align: bottom;
}
.logo {
  background-image: url('/images/logo.gif')
}
#mobile-menu.active {
  display: block;
}
/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
