/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 * 
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind preflight;

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('source-serif-pro/EOT/SourceSerifPro-ExtraLight.eot') format('embedded-opentype'),
         url('source-serif-pro/WOFF/OTF/SourceSerifPro-ExtraLight.otf.woff') format('woff'),
         url('source-serif-pro/WOFF2/OTF/SourceSerifPro-ExtraLight.otf.woff2') format('woff2'),
         url('source-serif-pro/OTF/SourceSerifPro-ExtraLight.otf') format('opentype'),
         url('source-serif-pro/TTF/SourceSerifPro-ExtraLight.ttf') format('truetype');
}
@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('source-serif-pro/EOT/SourceSerifPro-Black.eot') format('embedded-opentype'),
         url('source-serif-pro/WOFF/OTF/SourceSerifPro-Black.otf.woff') format('woff'),
         url('source-serif-pro/WOFF2/OTF/SourceSerifPro-Black.otf.woff2') format('woff2'),
         url('source-serif-pro/OTF/SourceSerifPro-Black.otf') format('opentype'),
         url('source-serif-pro/TTF/SourceSerifPro-Black.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('source-code-pro/EOT/SourceCodePro-Regular.eot') format('embedded-opentype'),
         url('source-code-pro/WOFF2/TTF/SourceCodePro-Regular.ttf.woff2') format('woff2'),
         url('source-code-pro/WOFF/OTF/SourceCodePro-Regular.otf.woff') format('woff'),
         url('source-code-pro/OTF/SourceCodePro-Regular.otf') format('opentype'),
         url('source-code-pro/TTF/SourceCodePro-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('source-sans-pro/EOT/SourceSansPro-Regular.eot') format('embedded-opentype'),
         url('source-sans-pro/WOFF2/TTF/SourceSansPro-Regular.ttf.woff2') format('woff2'),
         url('source-sans-pro/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
         url('source-sans-pro/OTF/SourceSansPro-Regular.otf') format('opentype'),
         url('source-sans-pro/TTF/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('source-sans-pro/EOT/SourceSansPro-Black.eot') format('embedded-opentype'),
         url('source-sans-pro/WOFF2/TTF/SourceSansPro-Black.ttf.woff2') format('woff2'),
         url('source-sans-pro/WOFF/OTF/SourceSansPro-Black.otf.woff') format('woff'),
         url('source-sans-pro/OTF/SourceSansPro-Black.otf') format('opentype'),
         url('source-sans-pro/TTF/SourceSansPro-Black.ttf') format('truetype');
}



.text {
    @apply .font-sans .text-16 .font-normal .leading-normal;
}
.lg-text {
    @apply .font-serif .font-x-light .text-24 .leading-24-40 .text-center;
}
.title {
    @apply .font-serif .text-grey-5 .font-black .text-24 .leading-24-32;
}
.lg-title {
    @apply .font-serif .text-accent-4 .font-x-light .text-48 .leading-48-56 .text-center;
}
.caption {
    @apply .font-mono .text-grey-5 .font-normal .text-12 .leading-2;
}
.date-small {
    @apply .font-mono .text-grey-5 .font-normal .text-14 .leading-14-24;
}
.date {
    @apply .font-mono .text-grey-5 .text-16 .font-normal .leading-normal;
}
.label {
    @apply .font-mono .text-accent-4 .font-normal .text-14 .leading-14-24;
}
.title-light {
    @apply .font-serif .text-accent-5 .font-black .text-24 .leading-24-32;
}

.btn {
    @apply .font-mono .inline-block .h-4 .px-2 .text-14 .leading-button .uppercase .tracking-wide .text-center;
}
.btn-acc {
  @apply .text-grey-1 .bg-accent-4 .shadow-1 .transit;
}
.btn-acc:hover {
  @apply .bg-accent-3 .shadow-4;
}
.iconbox {
  @apply .flex .justify-center .items-center .w-4 .h-4;
}
.iconlabel {
  @apply .ml-1 .text-16 .leading-iconlabel;
}
/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, you should import this line from it's own file:
 * 
 * @import "./tailwind-utilities.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */

ul, li {
    list-style: none;
    padding:0;
}
a {
    text-decoration: none;
}


@tailwind utilities;


.transit {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.content p {
    margin-bottom: 1.5rem;
}

svg {
  fill: currentColor;
  vertical-align: bottom;
}


/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */